.flex-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    height: 100vh;
    position: -webkit-sticky; /* for safari browser */
    position: sticky;
    top: 0;
    min-width: 300px;
    max-width: 300px;
    border-right: 1px solid;
    margin-right: 10px;
}
  