.sidebar {
    height: 100vh;
    position: -webkit-sticky; /* for safari browser */
    position: sticky;
    top: 0;
    min-width: 290px;
    max-width: 290px;
    border-right: 1px solid;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

.sidebar-flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-area {
    text-align: center;
    margin-top: 10px;
    height: 60px;
    border: 1px solid;
}

.search-area {
    text-align: center;
    height: 35px;
    border: 1px solid;
}

.document-area {
    padding-top: 10px;
    border: 1px solid;
    flex: 1;
}

.folder {
    display: flex;
    align-items: center;
    /* TODO: MAKE IT NOT WRAP */
}

.folder-wrapper {
    padding-left: 20px;
}

.tree {
    line-height: 1.5;
}

.document {
    padding-left: 20px;
    overflow: hidden;
}

.collapsible {
    overflow: hidden;
}

.closed {
    height: 0px;
}

.open {
    height: auto;
}