.sidebar {
    height: 100vh;
    position: -webkit-sticky; /* for safari browser */
    position: sticky;
    top: 0;
    min-width: 290px;
    max-width: 290px;
    border-right: 1px solid;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-area {
    text-align: center;
    margin-top: 10px;
    height: 100px;
}

.search-area {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: 1px solid #b8b8b8;
}

.search-bar {
    /* margin-top: 10px; */
    width: 90%;
    height: 30px;
    background-color: rgba(165, 165, 165, 0.089);
    border: 1px solid;
}

.document-area {
    padding-top: 10px;
    border-top: 1px solid #b8b8b8;
    flex: 1;
}

.new-document-area {
    /* background-color: red; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60px;
    /* flex: 1; */
}

.new-document-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.377);
    border-radius: 5px;
    height: 40px;
    width: 280px;
    font-weight: 700;
    font-size: 17px;
    
    background-color: rgba(90, 145, 108, 0.541);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.new-document-btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
    /* background: rgba(90, 145, 108, 0.527); */
}

.new-document-plus {
    padding-top: 1px;
    padding-right: 5px;
}

.folder {
    display: flex;
    align-items: center;
    height: 2em;
    line-height: 1.5em;
}

.folder-name {
    /* TODO: MAKE IT NOT WRAP */
    flex: 8;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.folder-wrapper {
    padding-left: 20px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.folder:hover {
    background-color: rgba(90, 145, 108, 0.171);
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.document:hover {
    background-color: rgba(90, 145, 108, 0.171);
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.plus-icon {
    opacity: 0.7;
    flex: 1;
}

.tree {
    line-height: 1.5;
}

.document {
    margin-left: 20px;
    padding-left: 5px;
    overflow: hidden;
    height: 1.7em;
    line-height: 1.5em;
    /* font-weight: 300; */
}

.collapsible {
    overflow: hidden;
}

.closed {
    height: 0px;
}

.open {
    height: auto;
}

.isSelected {
    background: rgba(90, 145, 108, 0.4) !important;
    border-radius: 5px;
    margin-right: 10px;
}

input:focus {
    outline: none;
}

input {
    padding-left: 10px;
}

.dropdown {
    position: absolute;
    bottom: 65px;
    overflow: hidden;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px rgba(100, 100, 100, 0.315);
}

.menu-item {
    display: flex;
    align-items: center;
    background-color: white;
    height: 30px;
    width: 200px;
    padding-top: 2px;
    overflow: hidden;
    padding: 5px;
}

.menu-item:hover {
   cursor: pointer;
   filter: brightness(95%);
}